<!DOCTYPE html>
<html>
  <head>
    <title> Login Page </Title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="style.css"/>
  </head>
  <body>
    <div class = "container">
      <h1 id = "loginHead"> Login </h1>
      <form>
        <div class = "form-input">
          <input type = "text" name = "username" placeholder = "Username">
        </div>
        <div class = "form-input">
          <input type = "password" name = "password" placeholder = "Password">
        </div>
        <input type = "submit" name = "submit" value = "Log in" class = "btn-login">
      </form><br>
      <a href = "#">Forgot your password?</a>
    </div>
  </body>
</html>
