html{
  font-family: sans-serif;
  background-image:url("https://ak6.picdn.net/shutterstock/videos/11816366/thumb/4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}
body{
  margin: 0;
}
header{
  background: black;
  color: white;
  padding: 8px 0px 6px 40px;
  height: 50px;
}
header h1{
  display: inline;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 32px;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
}
nav ul{
  display: inline;
  padding: 0px;
  float: left;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  color: white;
  float: left;
}
nav ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
}

nav ul li a:hover{
  color: gold;
  font-weight: bold;
}

#nav{
  font-family: sans-serif;
}
.container{
  margin: 0 auto;
  margin-top: 100px;
  color: white;
  text-align: center;
  text-decoration-color: white;
  width: 450px;
  height: 500px;
  background-color: #303030
}
.container h1{
  color:white;
  background: #303030
}

#name{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 33px;
}

#about{
  margin-top: 10px;
}

#bio{
  margin-left: 25px;
  margin-right: 25px;
}

.container img{
  width: 140px;
  height: 140px;
  margin-top: -60px;
  margin-bottom: 15px;
}

#activities{
  list-style-type: none;
  text-align: center;
}

#activities li{
  text-align: center;
  margin-right: 35px;
  margin-top: 11px;
}

#activities li a{
  color: white;
  text-decoration: none;
}

#activities li a:hover{
  color: gold;
  font-weight: bold;
}
