html{
  background: black;
  font-family: sans-serif;
}
.container{
  width: 350px;
  height: 400px;
  text-align: center;
  background-color: rgba(40,40,40,1);
  border-radius: rpx;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  outline: 1px solid #fff;
  outline-offset: -33px;
}
#loginHead{
  color: white;
  padding-top: 40px;
  display: inline-block;
  margin: 0;
  transform: translateY(50%);
  background: rgba(40,40,40,1);
  padding: 0 .5em;
}
input[type = "text"] {
  height: 45px;
  width: 200px;
  font-size: 13px;
  border:none;
  margin-bottom: 20px;
  margin-top: 65px;
  background-color: #3b4148;
  padding-left: 15px;
}
input[type="password"]{
  height: 45px;
  width: 200px;
  font-size: 13px;
  border:none;
  margin-bottom: 20px;
  background-color: #3b4148;
  padding-left: 15px;
}
.btn-login{
  padding: 10px 20px;
  color: #fff;
  background-color: #FFD700;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #FFDF00;
}
a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
a:hover{
  color: coral;
  font-weight: bold;
}
