<!DOCTYPE html>
<html>
  <head>
    <title> User Page </Title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="main.css"/>
  </head>
  <body>
    <header>
      <nav>
        <ul id = "nav">
          <li> <a class = "homered" href = "#">TITLE</a></li>
          <li> <a class = "homered" href = "#">HOME</a></li>
          <li> <a class = "homeblack" href = "#">DIRECTORY</a></li>
          <li> <a class = "homeblack" href = "#">INFO</a></li>
        </ul>
      </nav>
    </header>
    <div class = "container">
      <!-- <img src = "https://ak6.picdn.net/shutterstock/videos/11816366/thumb/4.jpg" style="width:100%;"> -->
      <h1> User Name </h1>
    </div>
  </body>
</html>
