.tag-link {
     background-color: #fbe674;
     padding: 10px 20px;
     margin: 0 5px;
     border-radius: 50px;
 }

 .org-officer {
     background-color: #f6f6f6;
 }

 .fb-profile .fb-image-lg{
     height: 65vh;
     min-height: 300px;
     background: no-repeat center center scroll;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

.fb-image-profile
  {
      margin: -90px 40% 0 40%;
      z-index: 9;
      width: 20%;
  }

 @media (max-width:768px) {

     .fb-profile-text > h1 {
         font-weight: 700;
         font-size: 16px;
     }

     .fb-image-profile {
         margin: -45px 10px 0px 25px;
         z-index: 9;
         width: 20%;
     }
 }