.fb-image-profile {
    margin: -90px 40% 0 40%;
    z-index: 9;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.fb-profile .fb-image-lg {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width:768px) {
    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        width: 120px;
        height: 120px;
    }

    .fb-profile .fb-image-lg {
        height: 100px;
    }
}

.tag-link {
    background-color: #fbe674;
    padding: 10px 20px;
    margin: 5px 5px;
    border-radius: 50px;
}
.org-officer {
    background-color: #f6f6f6;
}
#rsodetails {
  padding: 20px;
  text-align: center
}
#rsocontact{
  padding: 20px;
}
#desc{
  margin: auto;
}
#detail-officers{
  padding: 20px
}
#background-placeholder{
  height: 90px;
}
#org-name{
  padding: 10px;
}
#org-name-format{
  padding: 10px;
  text-align: center;
}