@import "~bootstrap/scss/bootstrap";
@import "main";

nav {
  background-color: #fff15f;
}

*{
  font-family: 'Nunito', sans-serif;
}

#rsopix {
  padding: 20px;
}

h2 {
  padding-top: 20px;
}

h3 {
  padding-top: 20px;
}

.card-body {
  text-align: center;
}
.rounded-circle {
  height: 100px;
  width: 100px;
}

#circleBox {
  margin-top: 10px;
  text-align: center;
}

#rsodetails {
  padding-top: 20px;
}

.nav-item {
  font-weight: bold;
}

#organizations {
  margin-top: 15px;
}

.card {
  margin-top: 10px;
  margin-bottom: 15px;
}
.slick-prev:before, .slick-next:before {
    color: #ffe339 !important;
}

.tag-title {
  color: black !important;
  text-decoration: none;
}

.org-thumbnail {
  height: 250px;
  object-fit: cover;
}