{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% load staticfiles %}

{% block content %}
    <div class="ui four doubling cards" style = "margin-left: 300px;">
      <div class = "row">
        {% for organization in organizations %}
        <div class="container-fluid">
            <div class="ui card" style = "margin-bottom: 30px; margin-left: 30px;">
                <div class="image">
                    <img src="{{ organization.logo }}" alt="{{ organization.name }} logo">
                </div>
                <div class="content">
                    <a class="header" href="{% url 'detail' organization.id %}">{{ organization.name }}</a>
                    <div class="meta">
                        <span class="date">{{ organization.found_date }}</span>
                    </div>
                    <div class="description" style = "color: white;">
                        {{ organization.summary }}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        {{ organization.members }} member(s)
                    </a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div><div class = "row">
        {% endif %}
    {% endfor %}
    </div>
  </div>
{% endblock %}
