{% extends 'app/base.html' %}

{% block title %} {{ organization.name }} {% endblock %}

{% load static %}

{% block content %}
    {% include 'app/navbar.html' %}
    {% include 'app/sidebar.html' %}

    <header>
        <div class="fb-profile">
            <div class="fb-image-lg" style="background-image: url({{ organization.get_cover.image.url }})"></div>

            <div class="row">
                 <img align="left" class="fb-image-profile thumbnail" src="{% static 'app/images/placeholder.png' %}" alt="Profile image example"/>
            </div>
        </div>
    </header>

    <div class="container-fluid" style="padding: 10px; text-align: center">
        <div style="margin: auto">
            <h1 style="padding: 10px"> {{ organization.name }}</h1>
            {% for tag in tags %}
                <a class="tag-link" href="{% url 'rso' tag.id %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>


    <div class="container-fluid" id="rsodetails" style="padding: 20px; text-align: center">
        <div style="margin: auto">
            <p>{{ organization.description }}</p>
        </div>
    </div>


    <div class="container-fluid org-officer" style="padding: 20px">
        <div>
            <h4> Officers </h4>
             <div class="row">
                {% for position, holders in users.items %}
                    {% for user in holders %}
                        <div class="col-md-3">
                            <div class="card">
                                <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ user.get_full_name }}</h5>
                                    <p class="card-text">{{ position }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}