{% extends 'app/base.html' %}

{% block title %} {{ organization.name }} {% endblock %}

{% load static %}

{% block content %}
    {% include 'app/navbar.html' %}
    {% include 'app/sidebar.html' %}
    <div class="container-fluid">
        <img style="max-height: 400px;" src="{% static 'app/images/placeholder.png' %}" alt="">
    </div>
    <div class="container">
        {% for tag in tags %}
            <a href="{% url 'rso' tag.id %}">{{ tag.name }}</a>
        {% endfor %}
        <h1>{{ organization.name }}</h1>
        <p>{{ organization.description }}</p>
        <div class="row">
            {% for position, holders in users.items %}
                {% for user in holders %}
                    <div class="col-3">
                        <div class="card">
                            <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.get_full_name }}</h5>
                                <p class="card-text">{{ position }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}