{% extends 'app/base.html' %}

{% block title %} Main Page {% endblock %}

{% load static %}

{% block content %}
    {% include 'app/navbar.html' %}
    {% include 'app/sidebar.html' %}
    <div class="container">
        <div class="row">
        {% for tag in tags %}
            <div class="col-3">
                <div class="card">
                    <img src="{% static 'app/images/placeholder.png' %}" class="card-img-top" alt="{{ tag.name }} logo">
                    <div class="card-body">
                        <a class="card-text" href="{% url 'rso' tag.id %}"> {{ tag.name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="container">
        <h2>Academic</h2>
        <div class="row">
            {% for org in academic_orgs %}
                <div class="col-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'detail' org.id %}"><h5 class="card-title">{{ org.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Fun</h2>
        <div class="row">
            {% for org in fun_orgs %}
                <div class="col-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ org.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Greek</h2>
        <div class="row">
            {% for org in greek_orgs %}
                <div class="col-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ org.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Sports</h2>
        <div class="row">
            {% for org in sports_orgs %}
                <div class="col-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ org.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
