{% extends 'app/base.html' %}

{% block title %} Main Page {% endblock %}

{% load static %}

{% block content %}
    {% include 'app/navbar.html' %}
    {% include 'app/sidebar.html' %}
    <div class="container" id = "categories">
        <h2>Browse Categories</h2>
        <div class="row">
            {% for tag in tags %}
                <div class="col-md-2">
                    <div class="container">
                        <div id = circleBox>
                            <img class = "rounded-circle" src="{% static 'app/images/placeholder.png' %}" class="card-img-top" alt="{{ tag.name }} logo">
                        </div>
                        <div class="card-body">
                            <h5 style = "text-align: center"><a class="card-text" href="{% url 'rso' tag.id %}"> {{ tag.name }}</a></h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class = "row">
            <h3><a class="card-text" id = "tagTitles" href="{% url 'rso' 58 %}"> Academic </a></h3>
        </div>
        <div class="slider responsive">
            {% for org in academic_orgs %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'detail' org.id %}"><h5 class="card-title">{{ org.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3><a class="card-text" id = "tagTitles" href="{% url 'rso' 59 %}"> Fun </a></h3>
        <div class="slider responsive">
            {% for org in fun_orgs %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'detail' org.id %}"><h5 class="card-title">{{ org.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3><a class="card-text" id = "tagTitles" href="{% url 'rso' 60 %}"> Greek </a></h3>
        <div class="slider responsive">
            {% for org in greek_orgs %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'detail' org.id %}"><h5 class="card-title">{{ org.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3><a class="card-text" id = "tagTitles" href="{% url 'rso' 60 %}"> Sports </a></h3>
        <div class="slider responsive">
            {% for org in sports_orgs %}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{% static 'app/images/placeholder.png' %}" alt="" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'detail' org.id %}"><h5 class="card-title">{{ org.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
